[2020-05-21 04:38] d10sfan opened #2 "OpenXRay"
* Project link: https://github.com/OpenXRay/xray-16
* Project license: https://github.com/OpenXRay/xray-16/blob/xd_dev/License.txt
* Does it work on 64-bit only Linux: YES
* Is source code available?: YES
* Is source code stored in Git?: YES
* List of Steam AppIds of supported games:
    - https://store.steampowered.com/app/41700/STALKER_Call_of_Pripyat/

## Additional information

My progress so

[2020-05-21 04:42] d10sfan opened #3 "Prey (2006)"
* Project link: N/A
* Project license: Proprietary
* Does it work on 64-bit only Linux: NO
* Is source code available?: NO
* Is source code stored in Git?: NO
* List of Steam AppIds of supported games:
    - https://steamcommunity.com/app/3970

## Additional information

This adds Prey 2006 (using the official binaries): https://gitlab.com/d10sfan/luxtorpeda-prey2006. SDLCL is used for this one as

[2020-05-21 04:44] d10sfan opened #4 "Unreal Tournament 2004"
* Project link: N/A
* Project license: Proprietary
* Does it work on 64-bit only Linux: MAYBE
* Is source code available?: NO
* Is source code stored in Git?: NO
* List of Steam AppIds of supported games:
    - https://store.steampowered.com/app/13230/

## Additional information

It looks like the Steam version includes the megapack maps, so that makes things a bit easier. I have a package (https:

[2020-05-21 04:47] d10sfan opened #5 "Quake 4"
* Project link: N/A
* Project license: Proprietary
* Does it work on 64-bit only Linux: MAYBE
* Is source code available?: NO
* Is source code stored in Git?: NO
* List of Steam AppIds of supported games:
    - https://store.steampowered.com/app/2210/Quake_IV/

## Additional information

Adds Quake 4 as a package, using the original binaries.

Package is located here: https://gitlab.com/d10sfan/lu

[2020-05-21 15:06] d10sfan opened #6 "Common Repo For Packages"
**Is your feature request related to a problem? Please describe.**
Currently, all the packages are in their own repositories. Work can be done to make one repository where all the packages live.

**Describe the solution**
This would make it easier to contribute, by instead having a packages repo (https://github.com/luxtorpeda-dev/packages) that would be a set of shell scripts, and any assets neede

[2020-05-22 04:25] d10sfan commented on #6
https://github.com/marketplace/actions/github-pages-action#%EF%B8%8F-react-and-next

[2020-05-22 20:23] d10sfan opened #7 "Logistics"
Done:
* Create markdown docs for how to use the new modes
* Create pull request template for packages repo

[2020-05-23 03:18] d10sfan opened #8 "Change luxtorpeda to grab packages.json from remote"
This would be hosted by github pages on the packages repo (for both legacy and new packages).

[2020-05-26 04:39] d10sfan commented on #6
https://github.com/luxtorpeda-dev/packages/blob/test/.github/workflows/build_engine_test.yml

https://github.com/bpicode/github-action-upload-bintray (Need versioning so bintray will accept)

https://github.com/deef0000dragon1/json-edit-action

https://bintray.com/luxtorpeda-dev/luxtorpeda-packages

[2020-05-27 04:14] d10sfan opened #9 "Create CI Workflow For Package Pull Requests"
This would run tests against the pull request (if it's internal) and do the same workflow except for uploading (so just build and archive).

[2020-05-27 04:57] d10sfan commented on #6
The items for this ticket are complete.

[2020-05-27 04:57] #6 closed

[2020-05-30 16:33] d10sfan opened #10 "Create github actions for luxtorpeda and runtime"
* Create github actions for luxtorpeda-dev repo (for CI) & pages needed for luxtorpeda download
* Create github actions for luxtorpeda-dev runtime repo

[2020-05-30 16:33] d10sfan opened #11 "Verify all engines are covered & re-test"

[2020-05-30 16:34] #7 closed

[2020-05-30 16:34] d10sfan opened #12 "Copy licenses for engines to built artifact"
`licenses/LICENSE.<enginename>`

[2020-06-03 02:18] d10sfan commented on #9
Implemented in https://github.com/luxtorpeda-dev/packages/pull/21

[2020-06-03 02:18] #9 closed

[2020-06-03 02:42] d10sfan commented on #12
Supported with https://github.com/luxtorpeda-dev/packages/pull/22

[2020-06-03 02:42] #12 closed

[2020-06-03 03:06] d10sfan commented on #10
Starting point:

https://github.com/luxtorpeda-dev/luxtorpeda/compare/master...github-actions?quick_pull=1

* Look into github actions cargo
* Upload to bintray and update html template to pages

[2020-06-03 05:01] d10sfan opened #13 "Show license types in packages.json & site"

[2020-06-03 05:01] d10sfan opened #14 "Prompt user before downloading package for non-open packages"

[2020-06-03 14:53] #13 closed

[2020-06-03 14:53] d10sfan commented on #13
Completed

[2020-06-08 03:25] d10sfan commented on #10
Done

[2020-06-08 03:25] #10 closed

[2020-06-14 02:44] d10sfan commented on #11
Completed.

[2020-06-14 02:44] #11 closed

[2020-06-29 03:36] d10sfan commented on #8
This has been completed by https://github.com/luxtorpeda-dev/luxtorpeda/pull/17

[2020-06-29 03:36] #8 closed

[2020-06-29 04:25] d10sfan commented on #14
Closed by https://github.com/luxtorpeda-dev/luxtorpeda/pull/18

[2020-06-29 04:25] #14 closed

[2020-06-29 04:53] d10sfan opened #19 "Library reqwest depends on OpenSSL 1.1 causing packaging issues for some distributions"
### PORTED FROM https://github.com/dreamer/luxtorpeda/issues/42

Usage of reqwest library was quick and easy way to introduce package downloads, but it had unwanted consequences, as our official builds now started to depend on libssl ABI 1.1.

While OpenSSL 1.1 is widely packaged throughout distros already (it's in Fedora, Debian, Arch, Ubuntu, etc), there are still some OSes stuck on 1.0, namely:

[2020-07-01 21:57] d10sfan commented on #19
Switched reqwest to use rustls. This should fix the dep to openssl.

[2020-07-01 21:57] #19 closed

[2020-07-09 20:19] d10sfan opened #23 "Include Newer Zenity Version with Theme Support"
As part of this, look into creating a theme to make  the dialogs look similar to steam's look and feel.

[2020-07-09 21:30] JoshuaFern opened #24 "Missing Loading Bar on Downloading Games"
**Describe the bug**
Luxtorpeda used to have a loading bar when downloading game engines/content. It doesn't seem to occur anymore.

**Expected behaviour**
A functional loading bar appears in the native steam dialog representing the download progress.

**Additional context**
Luxtorpeda-9, Steam July 8 2020 build

[2020-07-09 23:01] d10sfan commented on #24
Fixed in luxtorpeda 10. Let me know if you run into further issues.

[2020-07-09 23:01] #24 closed

[2020-07-11 05:08] d10sfan opened #26 "Interactive Download & License Agreement Workflow"
**Is your feature request related to a problem? Please describe.**
Currently, the closed source engine scripts will run the download themselves to take care of any downloads. This is mainly because of the EULA agreements, and the different ways the extraction needs to happen.

**Describe the solution you'd like**
The client should be able to handle a new set of metadata for an engine to control th

[2020-07-11 23:00] JoshuaFern opened #28 "UT2004 Missing OpenAL"
**Describe the bug**
When running UT2004 I receive a dialog: `OpenAL not found. Exiting.`

**Additional context**
Running Steam in a Flatpak, installing OpenAL system wide will not work.

[2020-07-12 20:45] d10sfan commented on #26
"13230": {
        "game_name": "Unreal Tournament 2004: Editor's Choice Edition",
        "download": [
            {
                "name": "ut2004",
                "url": "https://bintray.com/luxtorpeda-dev/assets/download_file?file_path=",
                "file": "ut2004-13230-3.tar.xz"
            },
            {
                "name": "binaries",
                "url": "http://treefort.i

[2020-07-12 21:48] d10sfan commented on #26
Need part to support extracting bz2 and see if there's a faster way to do the linking (possibly just a ln -s /* instead of each file)

[2020-07-13 14:18] d10sfan commented on #26
Implemented with release 12

[2020-07-13 14:18] #26 closed

[2020-07-14 02:42] d10sfan opened #31 "Zenity error on EULA Display"

[2020-07-14 03:11] d10sfan commented on #31
Fixed

[2020-07-14 03:11] #31 closed

[2020-07-15 13:38] d10sfan opened #33 "Engine Chooser When Launching"
Look at creating list option for zenity (https://git.ireas.org/dialog-rs/tree/src/backends/zenity.rs) to do this.

This should be done before install time (to pick one to install over the other). The uninstall script should be run if detected that one is already installed (when switching to the other one).

The following games will be able to use this:

* OpenXcom
* UT99 (436 or 451)

[2020-07-27 20:00] d10sfan commented on #33
To-Do:

* Create packages.json app format for engine chooser
    * Downloads array will stay the same
    * choices array (or object by name) will be there instead of commands, setup, etc, and contains each of those items.
        * Will have name of choice, and array of necessary downloads
        * Setup section will make sure to extract to unique directory inside game folder, so uninstalls don'

[2020-07-30 04:42] d10sfan commented on #33
Completed with version 17

[2020-07-30 04:42] #33 closed

[2020-07-30 14:57] d10sfan opened #36 "Store Engine Choice in Config - Ask Then Download"

[2020-07-30 20:57] d10sfan commented on #36
Done in version 18

[2020-07-30 20:57] #36 closed

[2020-07-31 03:59] d10sfan commented on #23
Done in 19. Uses STEAM_ZENITY

[2020-07-31 03:59] #23 closed

[2020-08-04 08:22] frostworx opened #39 ""manual" installation of dependencies possible?"
Hi,
I already wrote this here on dreamer/luxtorpeda: https://github.com/dreamer/luxtorpeda/issues/68 , but maybe my "problem" is only related to your dev fork:
---
just wanted to let you know that I added luxtorpeda support in v1.0.4 of my linux wrapper script steamtinkerlaunch (or short stl)
https://github.com/frostworx/steamtinkerlaunch
Either enabled inside the gameconfig or simply add a game t

[2020-08-04 13:22] d10sfan commented on #39
Interesting project and I'll see what can be done to support it.

For the launch from steamtinkerlaunch, it sounds like it's most likely skipping the download step. Is it correct to say that any engine you try will fail to launch? If that's the case, it'll be affected on both versions most likely.

I saw the morrowind attempt. This version of luxtorpeda allows you to pick from a list of possible e

[2020-08-04 14:08] frostworx commented on #39
Hello @d10sfan!
Thank you very much for your friendly answer!
By calling luxtorpeda (and boxtron and roberta) directly there's no need to select them as compatibility tool inside steam.
I think that is the reason why the initial launch hook from steam is skipped.

Once the dependencies are downloaded once, luxtorpeda works great via stl.

It would be great if you could add a commandline switch! Th

[2020-08-04 14:48] d10sfan commented on #39
Ok, I'll look into that soon and let you know once I've got something.

For checking the ready state, are you wanting to avoid running that command after the first time? It will skip any downloads already if they are already cached. And we may want to still let them switch engines after the first time. So wanted to see your thoughts on that.

[2020-08-04 15:07] frostworx commented on #39
Oh I didn't know that, thanks for the explanation!
The way it is makes perfectly sense then! Thank you very much for your friendly communication! :)

[2020-08-07 02:59] d10sfan commented on #39
@frostworx

This has been implemented by https://github.com/luxtorpeda-dev/luxtorpeda/pull/40. Luxtorpeda-dev version 20 has a new command line parameter of "manual-download" that should meet this need.

The command will look like this: ```luxtorpeda manual-download 3730```, replacing 3730 with the app id.

Let me know if you need anything else for this.

[2020-08-07 02:59] #39 closed

[2020-08-07 06:49] frostworx commented on #39
Hi @d10sfan
Thank you very much for implementing that!
I just tried it with prey and Morrowind and both downloaded their data fine and she games started ootb afterwards bout directly via stl.
The saved selection of the zenity Morrowind requester doesn't have any effect though, after a second start the requester starts again. the file itself in config/luxtorpeda/22320/engine_choice.txt is still wri

[2020-08-07 13:18] d10sfan commented on #39
@frostworx

For the engine_choice, that's used by the run step so it knows which one to use, but it asks each time by design on the download step, in case the user wants to pick a different engine the next launch.

If you want to only let them choose once for your script, you could check if the ~/.config/luxtorpeda/appid/engine_choice.txt file exists and if it does skip the download step. Then it

[2020-08-07 17:43] frostworx commented on #39
@d10sfan!
Very good idea, thanks a lot for your help! That would work perfectly indeed :)

[2020-08-29 11:10] ZeroPointEnergy opened #41 "store updated package.json in ~/.cache/luxtorpeda instead of tools dir."
Hello. I'm in the process of packaging this software for the Gentoo user repository (GURU).

The package installs luxtorpeda to `/usr/share/steam/compatibilitytools.d/luxtorpeda/` where it is available for all users. However, if the user starts a game with luxtorpeda it tries to download the `package.json` file to `/usr/share/steam/compatibilitytools.d/luxtorpeda/` which is read-only for the user.

[2020-08-30 04:19] d10sfan commented on #41
I've implemented this in luxtorpeda-dev 21, so that it'll get stored in the cache directory.

[2020-08-30 04:19] #41 closed

[2020-09-23 22:50] flukejones opened #44 "$XDG_CACHE_HOME && $XDG_CACHE_HOME/luxtorpeda/ errors"
It appears that on some distros `$XDG_CACHE_HOME` isn't set, which is part one of this issue, and if it *is* set, then  `luxtorpeda/` isn't created within it.

Tracing back from this [line](https://github.com/luxtorpeda-dev/luxtorpeda/blob/1f73f27b384c3780f23367fed4f0a38f11b52abd/src/package.rs#L180) you should probably map the errorkind to an action such as create directory, use a fallback, or at

[2020-09-24 02:37] d10sfan commented on #44
Thanks for the issue report.

I've added a fix (https://github.com/luxtorpeda-dev/luxtorpeda/commit/d5e8790e45df9aaaf9d5aca66047bdb43d0a7da7) which will be in version 23 for an issue where the luxtorpeda folder wasn't being created in the XDG_CACHE_HOME directory.

For the XDG_CACHE_HOME not being set, what's an example of a distro for testing that has this particular issue? I'm thinking I could c

[2020-09-24 02:59] flukejones commented on #44
fedora 33 doesn't seem to have set it. But then again that could be a fault of my bash configs. You could test for it by doing `export XDG_CACHE_HOME=`.

I've found out the hard way that with directories you really want to give more info, somehting like:

[code]

it'll help prevent a lot of bug reports like this one. Or if you want to keep `.unwrap()` style behaviour maybe something like:

[code]

[2020-09-24 08:43] ZeroPointEnergy commented on #44
It is perfectly fine for XDG_CACHE_HOME not to be set. The standard says that in this case, $HOME/.cache should be used. This is something the xdg crate should already take care of.

[2020-09-26 03:32] d10sfan commented on #44
@flukejones Could you re-test this with the latest version and see if that fixes the issue you ran into? If you're still having issues, feel free to re-open this and I'll look further.

[2020-09-26 03:32] #44 closed

[2021-01-16 22:04] NerosTie opened #46 "Update VkQuake to 1.05.2"
Just noticed that VkQuake has not been updated.

Current version: 1.04.1 (15 Jan. 2020)
Last version: 1.05.2 (11 Jan. 2021)

Is it possible to update it?
Thanks!

PS: is it also possible to add other engines like Darkplaces (recommended engine to run the mod "Quake 1.5")?

[2021-01-16 22:31] NerosTie opened #47 "When I uninstall a game with multiple engines "Pick the engine below" is prompted"
**Describe the bug**
As the title says, when I want to uninstall a game with multiple engines, like Caesar III, during the process the window "Pick the engine below" is prompted. I click on "Cancel" then the game is uninstalled.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install a game with multiple engines like Caesar III
2. Uninstall the game

**Expected behaviour**
The window "Pick

[2021-01-17 02:33] d10sfan commented on #47
Thanks for the report, looks like an issue with the engine selector on the uninstall state. I'll look at what information the client gets from steam when this occurs.

[2021-01-17 03:30] d10sfan opened #48 "Download error handling"
Check if download succeeds before proceeding.

[2021-01-20 03:36] Protektor-Desura opened #49 "List of games"
Here is a list of games that have Linux engines but aren't in your program yet and are for sale by Steam.

Aliens vs. Predator Classic 2000    https://app.assembla.com/spaces/AvP/trac_subversion_tool
Blake Stone: Planet Strike     http://bibendovsky.github.io/bstone/
Commander Keen                https://github.com/keendreams/keen
Crisis 1 & 2                         https://github.com/CRYTEK/CRYE

[2021-01-20 03:42] #49 closed

[2021-01-21 18:34] hexdsl opened #51 "Quake 1 Not launching,"
**Describe the bug**
Click play. Then it says running. Then it says play and nothing happens.

terminal does a lot of scrolling but it seems that this is the error:

     ERROR-OUT BEGIN
     QUAKE ERROR: W_LoadWadFile: couldn't load gfx.wad
     Basedir is: share/quake
     Check that this has an id1 subdirectory containing pak0.pak and pak1.pak, or use the -basedir command-line option to specify

[2021-01-26 05:59] d10sfan commented on #47
@NerosTie

I created a ticket with Valve's tracker here: https://github.com/ValveSoftware/steam-for-linux/issues/7622

From what I could tell, the luxtorpeda-dev client isn't getting anything different between a normal run and an uninstall. Hopefully that ticket will show something I missed or if they could possibly add that capability.

[2021-01-26 19:09] d10sfan opened #52 "Investigate new Steam Runtime as possibility for building against"

[2021-01-29 22:40] PopeRigby opened #53 "Set default engine"
**Is your feature request related to a problem? Please describe.**
For most games, I don't want to be asked every time if I want to use a certain engine, I just want to pick one and have Luxtorpeda use it every time I launch the game.

**Describe the solution you'd like**
Have a checkbox in the engine selection dialogue that says something like "Make this your default engine?" To revert this, you

[2021-01-29 22:48] d10sfan commented on #53
Possibly use zenity form: https://askubuntu.com/questions/822745/zenity-list-in-forms-dialog-is-not-viewable

Look into either detecting shift key or add docs as to where to delete file.

[2021-01-30 20:36] AsciiWolf opened #54 "Add Luxtorpeda to Flathub"
Please, consider submitting Luxtorpeda to Flathub as a Steam CompatibilityTool extension. There [is already](https://github.com/gasinvein/flatpak-apps-staging/tree/com.valvesoftware.Steam.CompatibilityTool.Luxtorpeda/beta) a Flatpak manifest file for Luxtorpeda, it just needs to be updated.

See this ticket for more information: https://github.com/flathub/com.valvesoftware.Steam/issues/394

[2021-01-31 04:01] d10sfan commented on #54
Thanks for the information. I added a comment in that ticket to start a dialog there. I'll close this for now, unless this one ends up being needed again.

[2021-01-31 04:01] #54 closed

[2021-02-15 05:36] d10sfan commented on #53
Added support for this in https://github.com/luxtorpeda-dev/luxtorpeda/pull/56

This adds an extra zenity prompt to ask for the default. Zenity does not support a checkbox in a form, and so this was the next best option. A file (which is listed in the README) can be deleted to restore the engine choice dialog. This will be version 24.

[2021-02-15 05:36] #53 closed

[2021-02-17 23:11] ajshell1 opened #57 "Games don't start when running Wayland"
**Describe the bug**
None of the games I've tested that Luxtorpeda supports will launch on Wayland. The "Play" icon in the Steam client just goes almost instantly from "cancel" to "play"

**To Reproduce**
Attempt to launch any game with Luxtorpeda set as the compatibility tool in a Wayland compositor.

**Expected behaviour**
The game would launch normally, as would happen on an X.org window manage

[2021-02-18 00:34] d10sfan commented on #57
Can you provide logs? That would be where you launch steam in terminal try and launch a game and then provide the output.

It sounds like the zenity prompt is failing which is the license pop-up you mentioned. We are using the steam provided zenity

[2021-02-18 20:17] d10sfan commented on #47
Closing this for now. Will re-open if there's any further activity from Valve.

[2021-02-19 00:27] ajshell1 commented on #57
This is really strange. It works FINE whenever I launch Steam from the command line, but it doesn't work fine when I launch steam normally.

I'm closing this issue, as I think it's likely that I'm launching steam incorrectly. Somehow.

[2021-02-19 00:27] #57 closed

[2021-02-24 03:07] hellodeibu opened #58 "OpenMW fails to launch due to morrowind.ini not being correctly capitalized."
**Describe the bug**
OpenMW fails to launch on a fresh install as it requires `Morrowind.ini` but a fresh install has a lower-cased `morrowind.ini` file instead. Manually renaming this file will allow OpenMW launcher to launch properly, after which you can go through the first-time setup process and launch the game, too.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install Morrowind via

[2021-03-04 19:43] GregTheMadMonk opened #61 "[Feature, duplicate of #78] Detect ports already on system & allow to create local packages"
It would be very nice to see an option to not re-download the same port for every game individually.
For example, I already have GZDoom installed on my system, so it would make sense to run supported games through it.
Addditionally, for games lacking an official package, it would be great to be able to write manifests manually in **~/.config/luxtorpeda** subfolder.

The way it can work is by separ

[2021-03-04 20:46] d10sfan commented on #61
One thing that's different from the original project is that when you download a common engine (such as gzdoom), it only downloads it once. So for the case of gzdoom, the first game that uses it will download it, and then every other one will use that same download.

It sounds like what you're asking for is a way to launch a game with luxtorpeda using an engine installed on your system as a whole,

[2021-03-04 22:18] GregTheMadMonk commented on #61
Thanks for replying!

Oh ok, Didn't notice that because was looking at original project package files... sorry. So, this is the big part of this issue out of the way...

Yes.

Well, my guess would be the if the engine is installed through, for example, a system package manager, the package maintainer is most likely to already to aim for to support as much games/mods as possible, and a player proba

[2021-03-06 20:19] d10sfan commented on #61
Interesting, I'll see what may be possible for this in the future, whenever I have a chance

[2021-03-10 05:01] JoshuaFern opened #65 "Add configurable user-packages.json"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to edit packages.json, but every time it updates I lose my changes. I can disable updates but then I have to apply updates manually.

**Describe the solution you'd like**
An additional "user-packages.json" so that we can make our own changes in addition to having updates enabled on Luxtorpeda's cached packages.json

[2021-03-10 13:53] d10sfan opened #66 "Dynamic library build repo"

[2021-03-16 15:07] d10sfan commented on #65
May also be related to this discussion as well: https://github.com/luxtorpeda-dev/luxtorpeda/discussions/64

[2021-03-16 15:08] d10sfan opened #69 "Investigate new Steam Runtime as possibility for building against"
https://gitlab.steamos.cloud/steamrt/soldier/sdk
https://gitlab.steamos.cloud/steamrt/soldier/sdk
https://github.com/ValveSoftware/Proton/blob/proton_5.13/toolmanifest_runtime.vdf
https://steamcommunity.com/app/1536610/discussions/0/3111393847707627503/?tscn=1612356220#c3111393847708447203

[2021-03-27 02:37] d10sfan commented on #48
Added in https://github.com/luxtorpeda-dev/luxtorpeda/pull/70/commits/cb4bdbae85510cfea225a47f861a8c97942d2d27

Will be in luxtorpeda 25

[2021-03-27 02:37] #48 closed

[2021-03-27 03:10] d10sfan commented on #65
Added this in https://github.com/luxtorpeda-dev/luxtorpeda/pull/70/commits/50a8dc16bb51203992a99d2657e7f829427a94e2

Will be in version 25

Below is an example of what the ~/.config/luxtorpeda/user-packages.json looks like. It has the same syntax as the normal packages.json, and you can set a default that'll override what's in the default of the normal one.

When the client runs, it'll check to se

[2021-03-27 03:10] #65 closed

[2021-03-27 03:57] d10sfan commented on #47
I also looked to see if the uninstall process would delete the files before launching the client, but that does not appear to be the case. Because of that, I see no way of detecting this, unless we get help from Valve.

I'm going to close this for now, until there's more movement on this. I'll also add this to the known issues list

[2021-03-27 03:57] #47 closed

[2021-04-11 13:56] ScrambleTheRamble opened #71 "Upgrade to openxcom extended v7"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
More recent game mods require a newer version of OpenXcom Extended than the current 6.5.7 version. Please update the version used by Luxtorpeda to v7.

[2021-04-15 19:00] ScrambleTheRamble opened #72 "XCom & TFD - Add cross links to OpenXcom Extended"
Some mods require datafiles from both XCom & TFD to be present, a quick solution to that would be to add soft links to XCom & TFTD in "openxcom-oxce".

[2021-04-28 11:07] D3SOX opened #73 "Menu not visible in Portal Reloaded"
**Describe the bug**
I can't see the menu in Portal Reloaded using Luxtorpeda

**To Reproduce**
Steps to reproduce the behaviour:
1. Start Portal Reloaded using Luxtorpeda
2. See menu

**Expected behaviour**
Menu should be visible

**Screenshots**
![Main Menu](https://user-images.githubusercontent.com/24937357/116392928-56e27180-a821-11eb-8dac-d072bc82b824.png)

**Additional context**
Using Arch L

[2021-07-20 19:30] hsorsa opened #74 "Can't download engine"
I've installed Luxtorpeda according to instructions. Steam recognizes it as a compatibility layer, but when I try to run any game I get an error. Screenshot of terminal with error attached.

I've tried with multiple games, always same problem. Any ideas?

https://nebo.shorsa.info/index.php/s/9jiSMJTYSrfnfze

I'm attaching terminal log.
[luxtorpeda problem.txt](https://github.com/luxtorpeda-dev/lux

[2021-07-20 19:32] d10sfan commented on #74
I don't see an error anywhere in there. Is that the entire log?

What does the ~/.cache/luxtorpeda directory look like? Also, what does the game directory look like?

[2021-07-20 19:36] hsorsa commented on #74
Dana 20.07.2021 21:32, d10sfan je napisao(la):

Yes, that's the entire log from starting the steam to game not running.
It ends like the when i press play.

I'm sending you screenshots of both folders

--

_Srdačan pozdrav! Best regrads!_

_Hrvoje Šorša_
_www.shorsa.info_
***@***.***_
_+385 92 195 8505_

Links:
------
[1]
https://github.com/luxtorpeda-dev/luxtorpeda/issues/74#issuecomment-88364169

[2021-07-20 19:39] hsorsa commented on #74
![cache](https://user-images.githubusercontent.com/87722960/126385280-59dc7c58-d3fd-4822-aed6-c17531322930.png)
![game folder](https://user-images.githubusercontent.com/87722960/126385292-df6feb9f-4b8e-400f-8d51-02ac22ae643d.png)

[2021-07-20 19:50] d10sfan commented on #74
Is this working now?

[2021-07-21 09:22] hsorsa commented on #74
No. It remains the same. The luxtorepda version is luxtorpeda-25. Should I try with the older version? Sorry for later reply. It was late in my timezone.

[the same.txt](https://github.com/luxtorpeda-dev/luxtorpeda/files/6854377/the.same.txt)

[2021-07-21 12:11] d10sfan commented on #74
I see, I thought you had solved it since you closed it. And no, that version should be fine.

It looks like you may be having some internet issues, by the dns issues error that showed up in that log. Did you try clearing your ~/.cache/luxtorpeda folder like above?

[2021-07-21 12:17] hsorsa commented on #74
I've tried to clear ~/.cache/luxtorpeda and no changes. When I try to open the link https://github.com/luxtorpeda-dev/packages/releases/download/re3-1/ in browser i get "page not found". Is this normal?

[2021-07-21 12:40] d10sfan commented on #74
Yes, but try downloading this: https://github.com/luxtorpeda-dev/packages/releases/download/re3-1/re3-12100-1.tar.xz

[2021-07-21 12:42] hsorsa commented on #74
Download works like a charm...

[2021-07-21 13:11] d10sfan commented on #74
Ok, what is in the ~/.cache/luxtorpeda directory?

[2021-07-21 18:56] hsorsa commented on #74
Download from browser works normal, when I try in luxtorpeda the result is the same.

packages.json is the only file in ~/.cache/luxtorpeda directory.

[2021-07-22 02:19] d10sfan commented on #74
Interesting, it looks like it's having issues downloading the files. The one log you sent had a reference to a download error of the hash, which could indicate some intermittent network issues. Could you try a few times and see if it's able to download?

Also, you could also try putting the manually downloaded file in the cache directory manually, in ~/.cache/luxtorpeda/appid/ for example for re3,

[2021-07-22 06:23] hsorsa commented on #74
First part, the same. I've even tried uninstalling Steam, deleting all possible data. Installing it and again the same.

Then I've tried the second part. Downloaded the files, put them in cache folder and it installed like a charm, works great. I don't know  if anybody else had a similar problem, but maybe you can add option when installing engine to find the (downloaded) file manually. Like some

[2021-07-22 13:06] d10sfan commented on #74
Interesting, do you have any sort of proxies or other unique network configuration? It's possible that the downloader isn't seeing those settings, leading to this issue.

[2021-07-23 07:12] hsorsa commented on #74
I'e tried download over multiple networks and the result is always the same. Maybe something in my distro settings? KDE neon, runnig kernel 5.8? Also, out of curiosity, yesterday I've downloaded again "Jedi Knight II: Jedi Outcast" and tried Luxtorpeda. The result is the same problem - and the same workaround works.

[2021-07-24 02:40] d10sfan commented on #74
Not sure, we've had people in many distros and environments try this out and haven't encountered this from what I remember. I've never used Neon though, although can't think of anything that could contribute. It's possible you have some proxy settings or other network requirements that the download tool isn't seeing.

Does a command line curl request work?

[2021-08-02 13:26] CommonOddity opened #75 "Warzone 2100 fails to load"
**Describe the bug**
Warzone 2100 fails to launch.

**To Reproduce**
Steps to reproduce the behaviour:
1. Launch Warzone 2100
2. Warzone 2100 does not launch

**Expected behaviour**
Warzone 2100 launches.

**Additional context**

I have Warzone 2100 on my laptop running with steam just fine. However, when I attempt to launch it from another rig running the exact same distro (OpenSuSE Tumbleweed),

[2021-08-02 13:52] d10sfan commented on #75
It looks like for some reason the download of the assets is not working on this system. Is the distro version the same between both of them, as in are they updated to the same version?

I just tried on Arch Linux and it worked fine, downloaded the package and ran the game from scratch.

[2021-08-02 14:29] CommonOddity commented on #75
It is the same version. Both are updated.

On the rig where Warzone 2100 fails to launch, I'm able to download the file in browser and via curl:

[code]

These are the contents of ~/.cache/luxtorpeda:

[code]

I definitely have enough space:

/dev/nvme0n1p4                 295G  125G  156G  45% /home

This seems to only happen with Luxtorpeda. Downloading/launching for any other title works just f

[2021-08-02 14:32] d10sfan commented on #75
Strange, it looks like for some reason the download wasn't attempted or at least failed silently. I'll see if I can get some more logs in there to determine where the issue might be.

[2021-08-02 14:32] CommonOddity commented on #75
Oh yeah. Just noticed the curl attempt was 636 bytes. Interesting. This only happens when I attempt to download via curl. I was able to download via browser without any issues.

[2021-08-03 13:06] d10sfan commented on #74
Closing in favor of https://github.com/luxtorpeda-dev/luxtorpeda/issues/75

[2021-08-03 13:06] #74 closed

[2021-08-03 13:08] d10sfan commented on #75
**Luxtorpeda enabled games fail to launch on Ubuntu Mate 20.04**

On a fresh Ubuntu Mate 20.04, fresh Steam installation, games fail to launch.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install Luxtorpeda

https://github.com/luxtorpeda-dev/luxtorpeda#installation-using-tarball

2. Enable Luxtorpeda on Steam and specific games.
3. Install and launch the games.

**Expected behaviour**
G

[2021-08-03 13:09] d10sfan commented on #75
As noted earlier, user_packages_file not found is normal.

[2021-08-03 14:04] d10sfan commented on #75
@CommonOddity

If you go into the luxtorpeda installation directory, can you try running this and see what output you get?

[code]

This simulates the request that Steam does to tell luxtorpeda to download the game. If you could run that and then give me the output.

I did try this command on ubuntu and it worked ok for me.

[2021-08-03 14:20] CommonOddity commented on #75
This is what I get:

[code]

[2021-08-03 14:29] d10sfan commented on #75
@CommonOddity Ok, that should be normal, the hang is when it's downloading the file. Can you check to see if you have the ~/.cache/luxtorpeda directory and something for that app id?

[2021-08-03 14:32] CommonOddity commented on #75
Odd. I do now, but it wasn't there before:

[code]

I am going to delete the folder and attempt to launch this via steam yet again just to check if it attempts to download this.

[2021-08-03 14:34] CommonOddity commented on #75
Well, after I deleted the folder it no longer launches and the folder doesn't get downloaded into ~/.cache/luxtorpeda. Not quite sure why this is happening.

[2021-08-03 15:16] d10sfan commented on #75
@CommonOddity Can you send me the output of the trace from that attempt?

You should see in cache if it was successful the packages.json and the 1241950 folder, which your previous attempt shows it was working, at least at one point.

[2021-08-03 15:28] CommonOddity commented on #75
It only works when I manually run the command you provided. That is:

`./luxtorpeda wait-before-run iscriptevaluator.exe legacycompat\\evaluatorscript_1241950.vdf`

This causes for the folder to be populated in ~/.cache/luxtorpeda. If I remove the folder and attempt to press 'Play' in Steam it attempts to launch the game and immediately stops. The output is basically the same as before:

[code]

I

[2021-08-03 15:54] d10sfan commented on #47
@NerosTie I've released 26 (https://github.com/luxtorpeda-dev/luxtorpeda/commit/86b2d29ae61b4dea45de1d27890694502eff84f0) that fixes this issue. luxtorpeda now parses the vdf file to determine if it's an uninstall or not. If it is, luxtorpeda will just exit.

[2021-08-03 15:56] d10sfan commented on #75
@CommonOddity It looks like for some reason the first launch of luxtorpeda for the download is not working, as in the one that is used to ask for the choice and download the engine.

I just released version 26, which added some additional logs. Can you try that and see what happens? And send me the logs.

[2021-08-03 16:04] d10sfan commented on #75
For reference, this is what the log sequence should look like:

[code]

[2021-08-03 16:07] CommonOddity commented on #75
Just tossed in 26 and ran it, same behavior. This is the log output:

[code]

[2021-08-03 16:09] d10sfan commented on #75
@CommonOddity

It looks like you are missing this for some reason:

[code]

What version of steam are you on? Beta or main line?

[2021-08-03 16:10] CommonOddity commented on #75
Beta.

[2021-08-03 16:38] d10sfan commented on #75
That's the same I am on. It looks like steam is for some reason not sending the right messages on your system, although it is on mine.

Do you have the steam linux runtime and at least one version of proton installed?

[2021-08-03 16:46] CommonOddity commented on #75
I have multiple versions of proton installed. As for the steam linux runtime- I imagine you're talking about leveraging the libraries that come with steam rather than using system libs, correct?

[2021-08-03 17:28] d10sfan commented on #75
@CommonOddity The steam linux runtime tool, it's another compatibility tool you can install. It isn't used directly but wondering if there's a dependency on steam for that.

Do you have this folder? /home/dnimon/.steam/steam/legacycompat/

[2021-08-03 17:34] d10sfan commented on #75
@CommonOddity The steam linux runtime tool, it's another compatibility tool you can install. It isn't used directly but wondering if there's a dependency on steam for that.

Do you have this folder? ~/.steam/steam/legacycompat/

[2021-08-03 17:36] CommonOddity commented on #75
I just checked. I do not. Is this a requirement for Luxtorpeda?

[2021-08-03 17:40] d10sfan commented on #75
@CommonOddity

Interesting, I have it on my system, and it may explain why it seems to happen for some on brand new systems. It's possible steam has removed that capability, in certain cases. Do you have any of the older than proton 5 protons installed, such as 4 or 3? I wonder if that may be why. If not, try installing one of the older protons and see if that fixes it.

[2021-08-03 19:01] d10sfan commented on #75
I'd be interested to see if installing an older proton works. Although I did just release a new build 27 with the following:

* Support game launch running by itself without scripteval. Related to steam changes in regards to how luxtorpeda receives the commands from steam to download then launch the game. Now as a fallback the game launch command will also download the game files and ask for engin

[2021-08-03 19:04] #75 closed

[2021-08-03 19:08] d10sfan opened #78 "Support KDialog with Zenity Fallback"
https://develop.kde.org/deploy/kdialog/#--radiolist-dialog-box

[2021-08-03 20:56] d10sfan commented on #78
Continued in https://github.com/luxtorpeda-dev/luxtorpeda/pull/79

[2021-08-03 20:56] #78 closed

[2021-08-04 03:41] CommonOddity commented on #75
Just confirmed that versions 27/28 do the trick without the need for an older version of proton/steam runtime. Thanks a ton.

[2021-08-19 22:08] DigitalArcanist opened #82 "Fresh install of Luxtorpeda 30 on OpenSUSE Tumbleweed fails at "Download Progress"."
**Describe the bug**
Fairly recent system install of Tumbleweed, Steam, and Luxtorpeda 30.  Attempting to run games will bring up the prompts to choose engine and default, but when it gets to the Download stage, it halts with an error in the log:
`thread 'main' panicked at 'failed to update disable cancel progress: Os { code: 2, kind: NotFound, message: "No such file or directory" }', src/dialog.r

[2021-08-20 16:58] jorgicio opened #83 "Weird string issue when playing DOOM 3 BFG using Classic RBDOOM-3-BFG (DOOM BFA)"
**Describe the bug**
When I launch the Doom 3 BFG using the Classic RBDOOM (DOOM BFA) and want to play the DOOM 3 game, it shows weird string names starting with **#str_** and only a few readable strings are in German.

The issue didn't happen when using the RBDOOM-3-BFG original, but I wanted to try the DOOM BFA launcher because I was said that's better, as well as the latest version is being mor

[2021-08-21 07:22] jorgicio opened #84 "Quake II with VKQuake2 won't open (but keeps running)"
**Describe the bug**
I try to run Quake II using VKQuake2 as engine, and it shows it's running, but no window is open. I have to stop it manually from Steam.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run Quake II from Steam and select VKQuake2 as engine.
2. Nothing happens, but it shows it keeps running
3. Tried over and over and nothing changes.

**Expected behaviour**
Quake II shoul

[2021-08-21 12:26] d10sfan commented on #84
Please provide a log of you attempting to run. This can be done by opening Steam in a terminal window and copying the output to a file and attaching it here.

[2021-08-21 15:30] d10sfan commented on #82
This should be fixed in luxtorpeda-31 (https://github.com/luxtorpeda-dev/luxtorpeda/commit/06045e6851c87d7fc0eaac0e07312b0f72c4ed4b)

Thanks for the report

[2021-08-21 15:30] #82 closed

[2021-08-22 16:49] NeoTheFox opened #85 "Quake (2310) uses wrong basedir by default"
When using luxtorpeda to play the original Quake it tries to use the `id1` folder in the game folder, but Steam installs this folder as `Id1`, with an uppercase I, and that means any filesystem that is case-dependent would cause it to instantly crash. Just renaming the folder manually is enough to make it work.

[2021-08-22 19:28] d10sfan commented on #85
It looks like that's because of this:

https://steamdb.info/app/2310/ufs/
https://steamdb.info/depot/2311/

The steam depot is "id1" but the steam cloud is "Id1". If you had every played with steam or proton, this would happen most likely.

I'll work on adding a workaround so that the engine can handle id1 or Id1.

[2021-09-26 07:38] Sojiro84 opened #89 "UnrealTournament (1999)"
### Linux Distribution

EndeavourOS (Arch based)

### Luxtorpeda Version

36

### Bug description

UnrealTournament launches and I hear sound, but the screen stay's black.

I have added the log.

### Steps To Reproduce

Launch the game and the bug happens.

### Expected Behavior

I expected to see the game and not a black screen.

### Additional Context

_No response_

### Relevant log output

[co

[2021-09-26 07:41] Sojiro84 commented on #89
The setxkbmap error is also weird since I have xorg-setxkbmap installed.

[2021-09-26 12:39] d10sfan commented on #89
@Sojiro84 Are you using the luxtorpeda or luxtorpeda (runtime) compatibility tool?

[2021-09-26 18:35] ToughGuyKunio opened #90 "dosbox-staging issues"
### Linux Distribution

Manjaro

### Luxtorpeda Version

36.0.0.r289.0253e5c-1

### Bug description

I've been testing some DOS games and I got some issues in luxtorpeda-dev that I don't get in Boxtron.

- God of Thunder - doesn't launch, gives z:\> promt.
- Jagged Alliance Gold - doesn't launch, gives z:\> promt.
- Realms of the Haunting - Launches. Alt+enter for windowed doesn't work. Escape doe

[2021-09-29 20:15] d10sfan opened #92 "GTK Version of Progress Dialog"
### Feature Request

Recently, many other UI dialogs were switched to use rust-gtk to get greater control over how the UI looks, such as the engine chooser and the error pop-ups.

The progress dialog currently uses Zenity to render, the code starting here: https://github.com/luxtorpeda-dev/luxtorpeda/blob/master/src/dialog.rs#L433

### Solution

GTK has support for a progress bar (an example can b

[2021-09-29 20:20] d10sfan opened #93 "Log Client Version and Is Runtime At Launch"
### Feature Request

Currently, when I want to know what version of the client a user is running, it is asked for manually, along with if they are using the runtime version or not.

This would add one or many log lines to the startup sequence of the client, so that if logs are provided, by loading Steam in terminal and copying and pasting the output, that information can be found easier.

### Solu

[2021-09-29 20:23] d10sfan opened #94 "Support Manual Downloading for Runtime"
### Feature Request

Currently, the manual download only works with "original" package.json. This was a command built for use with the steam tinker tool. It is located here: https://github.com/luxtorpeda-dev/luxtorpeda/blob/master/src/main.rs#L265

### Solution

The manual download should check for is_runtime like the other commands and is_runtime passed to the manual_download function so that it

[2021-09-29 20:41] d10sfan opened #95 "(RS-W1015) Found string literal in `env` functions"
## Description
Calls to the `std::env` functions that use string literals instead of a static strings can lead to bugs due to spelling errors.

## Occurrences
There are 5 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/luxtorpeda-dev/luxtorpeda/issue/RS-W1015/occurrences/](https://deepsource.io/gh/luxtorpeda-dev/luxtorpeda/issue/RS-W1015/occ

[2021-10-07 18:37] #95 closed

[2021-10-18 02:13] #94 closed

[2021-10-20 04:52] d10sfan commented on #92
Re-implemented GUI with egui, progress here: https://github.com/luxtorpeda-dev/luxtorpeda/pull/102

[2021-10-20 04:52] #92 closed

[2021-10-23 05:08] d10sfan opened #104 "GUI - Show Additional Details on Right Panel When Selected"
### Feature Request

Show additional details such as the information in the packages.json file on the right side when an engine is selected.

### Solution

When showing the choices list, look first for engine_name in the choice, otherwise use 'name" in the choice. If there is a key in "engines", then process that information and display it. Notices should have a map in the rust as a const (in dial

[2021-10-23 05:40] d10sfan opened #105 "GUI - Transition Scripts Using Zenity to Ask for Prompt in packages.json"
### Feature Request

Currently, there's some setup scripts for engines that use zenity to display questions or input prompts.

### Solution

With the new egui UI, the prompts should be transitioned to be setup where the prompts are requested in an array in the packages.json file, and then the rust layer would run through those before launching the game, and set the responses to an env variable (se

[2021-10-27 22:12] DavidoTek opened #109 "List ProtonUp-Qt as an official way to install Luxtorpeda"
### Feature Request

As suggested in https://github.com/DavidoTek/ProtonUp-Qt/issues/8 I added support for Luxtorpeda in ProtonUp-Qt.
Might be helpful to some if there was a download link to ProtonUp-Qt to easily install/update the Luxtorpeda client.

### Solution

.

### Additional Context

Might be simpler to just download and extract the tarball than using a GUI.

[2021-10-28 13:06] #109 closed, assigned to nobody

[2021-10-28 23:06] AsciiWolf opened #111 "egui UI Launching Inside Wayland"
### Game

Unreal Tournament 2004: Editor's Choice Edition

### Engine

Proprietary Engine

### Linux Distribution

Fedora 35 (with Flatpak Steam)

### Luxtorpeda Version

Pre-release 43.0

### Bug description

Unreal Tournament 2004 does not run when using Luxtorpeda. Other games (both native and Proton) work fine.

### Steps To Reproduce

1. Install UT2004.
2. Try running it using Luxtorpeda.

##

[2021-10-29 16:48] AsciiWolf opened #112 "Use egui for CD Key dialogs"
### Feature Request

CD Key dialogs still seem to be using GTK GUI on latest Luxtorpeda (that uses egui):

![cdkey](https://user-images.githubusercontent.com/2339930/139472745-aa69b8ac-90d9-4ce9-ba20-bf478890d505.png)

### Solution

Use egui instead of GTK for these dialogs.

### Additional Context

_No response_

[2021-10-29 16:50] #112 closed, assigned to nobody

[2021-10-29 18:00] d10sfan commented on #105
![image](https://user-images.githubusercontent.com/4337981/139481375-43788b8b-6314-4331-86eb-1fd780051ad4.png)

[2021-10-29 20:24] d10sfan commented on #105
Complete, will be out in the next release.

[2021-10-29 20:24] #105 closed

[2021-10-29 20:55] d10sfan commented on #111
@AsciiWolf Those changes have been merged: https://github.com/luxtorpeda-dev/luxtorpeda/commit/4260cc882d8d2c3cfde6c6d592b281cb692ded7e

You should see it in the 44 release that'll be completed in a few minutes.

[2021-10-29 20:55] #111 closed

[2021-11-02 03:17] d10sfan commented on #104
Completed in https://github.com/luxtorpeda-dev/luxtorpeda/pull/113

[2021-11-02 03:17] #104 closed

[2021-11-03 18:09] VortexAcherontic opened #114 "Duke Nukem Megaton Edition Symlink addons to gameroot"
### Feature Request

Hey there,

 I was testing out Luxtorpeda + raze / eduke32 on Duke Nukem 3D: Megaton Edition and found that I couldn't play the Addons: Life's a Beach, Nuclear Winter and Duke it out in D.C.

After referring to raze and eduke32 installation guides I quickly figured out that both engines are expecting the addon files and maps to be in the same directory as the engine itself.

A

[2021-11-05 14:45] Angell1993 opened #115 "AUR Compile Issue"
### Linux Distribution

Manjaro 21.1.6 Pahvo

### Luxtorpeda Version

45.0.0.r320.5f2e835-2

### Bug description

Building luxtorpeda-git...
==> Making package: luxtorpeda-git 45.0.0.r320.5f2e835-2 (Fri 05 Nov 2021 15:42:20 CET)
==> Checking runtime dependencies...
==> Checking buildtime dependencies...
==> Retrieving sources...
  -> Updating luxtorpeda git repo...
Fetching origin
  -> Found repro

[2021-11-05 15:24] d10sfan commented on #115
@Angell1993

This error looks to be related to a cargo bug: https://github.com/rust-lang/cargo/issues/9885

Are you on the latest rust that arch provides?

[2021-11-05 17:06] Angell1993 commented on #115
I'm updating, every time Pamac tells me to, so I think so..

rust 1:1.55.0-1

[2021-11-05 17:54] JoshuaFern opened #116 "Default engines in user-packages.json override everything"
### Linux Distribution

NixOS/Flatpak

### Luxtorpeda Version

45

### Bug description

When overriding the default engines using `user-packages.json` and running a game with non-default game engine/s assigned, the engine selection window displays with only the default engines available to select.

### Steps To Reproduce

Use the following user-packages.json:
[code]
Now, try to run any program tha

[2021-11-05 18:29] d10sfan commented on #116
@JoshuaFern

This is fixed in this PR: https://github.com/luxtorpeda-dev/luxtorpeda/pull/117. Please download the artifact from here and let me know if that fixes it.

I also added a override_all_with_user_default flag that you can put into the user-packages.json file, where if true, it'll use the original behavior, where all games will use the default instead. Can look like this:

[code]

[2021-11-05 18:41] #116 closed

[2021-11-05 18:42] JoshuaFern commented on #116
Thanks, I've tested the build artifact and it seems to fix the problem. `"override_all_with_user_default": true,` is working as well.

[2021-11-05 18:55] d10sfan commented on #115
@Angell1993 I've created a workaround that'll be in the next build: https://github.com/luxtorpeda-dev/luxtorpeda/pull/117

Look out for release 46, which should have this workaround. Also, whenever cargo/rust updates, that hopefully will also fix it.

[2021-11-05 18:55] #115 closed

[2021-11-07 13:16] ToughGuyKunio opened #118 "Shows Xbox glyphs for PlayStation 3 gamepad"
### Linux Distribution

Manjaro

### Luxtorpeda Version

46.0

### Bug description

The GUI shows Xbox controller button/glyphs instead of PlayStation when I use my DualShock 3 controller.

### Steps To Reproduce

Plug in PS3 controller
Launch game throu luxtorpeda

### Expected Behavior

To show PlayStation glyphs

### Additional Context

_No response_

### Relevant log output

[code]

[2021-11-08 02:28] d10sfan commented on #118
@ToughGuyKunio

This is fixed with this PR: https://github.com/luxtorpeda-dev/luxtorpeda/pull/119/files

It'll be released as 47 once a few other things are complete. Once the automated build is done, you can try it out here: https://github.com/luxtorpeda-dev/luxtorpeda/actions/runs/1432994147 before the official release. Let me know how that goes.

[2021-11-08 02:28] #118 closed

[2021-11-08 06:46] ToughGuyKunio opened #120 "Switch possition of B and A buttons"
### Feature Request

I think the position of B and A buttons in EGUI should be the same as on the Xbox or Steam Deck controllers.

### Solution

Switch position so that A is first and then B.

### Additional Context
A should still be "Ok" and B should still be "Cancel"

[2021-11-08 12:47] d10sfan commented on #120
@ToughGuyKunio Are you talking about the physical position of the buttons in the UI? So that instead of it being Cancel, Ok, it would be Ok, Cancel?

[2021-11-08 13:56] ToughGuyKunio commented on #120
@d10sfan Yes. Ok, cancel. A, B.

[2021-11-08 15:13] d10sfan commented on #120
@ToughGuyKunio

Did you test the PR build for the ps3 controller change?

[2021-11-08 15:15] d10sfan commented on #120
https://github.com/luxtorpeda-dev/luxtorpeda/actions/runs/1433289553

[2021-11-08 16:04] ToughGuyKunio commented on #120
Not yet, I can do it tomorrow

[2021-11-08 16:10] d10sfan commented on #120
@ToughGuyKunio Ok, let me know how that goes. If that works for you, I'll see about this change and the rest for a build soon.

[2021-11-08 21:02] ToughGuyKunio commented on #120
@d10sfan tested now, worked perfectly!
![Screenshot_playstationbuttons](https://user-images.githubusercontent.com/12818876/140817504-8ca3e2e4-e659-4e2b-9fe7-5338df1f6201.jpg)

[2021-11-08 23:27] d10sfan commented on #120
@ToughGuyKunio

This is done in the PR, there's a build here if you want to try it out: https://github.com/luxtorpeda-dev/luxtorpeda/actions/runs/1437113221

[2021-11-08 23:27] #120 closed

[2021-11-09 07:41] ToughGuyKunio commented on #120
@d10sfan Looks good
![Screenshot_okcancel](https://user-images.githubusercontent.com/12818876/140882414-5511aeae-a574-4dbf-9551-03508763d7e3.jpg)

[2021-11-09 12:40] ToughGuyKunio opened #121 "Analog stick not working in EGUI with DualShock 3"
### Linux Distribution

Manjaro

### Luxtorpeda Version

Test Build Luxtorpeda #88

### Bug description

Don't know how I missed this before but only the D-pad works in the GUI, the left analog stick doesn't work.

### Steps To Reproduce

1. Launch game that opens EGUI
2. Try to move selection using analog stick

### Expected Behavior

Both the d-pad and the analog stick should be able to navigate

[2021-11-09 13:24] d10sfan commented on #121
@ToughGuyKunio

This is by design, currently no analog stick is supported. The client uses sdl2 other than for steam controllers, where it uses a usb interface. With sdl2, all controller support is the same across different types as long as it's supported in their "GameController" interface. The thing I'm adding is the glyphs.

Currently, the left analog stick is not supported because unlike the d

[2021-11-12 21:05] d10sfan commented on #121
@ToughGuyKunio Added a change that adds support for this in: https://github.com/luxtorpeda-dev/luxtorpeda/pull/119

[2021-11-12 21:05] #121 closed

[2021-11-27 13:03] Seegras opened #123 "GUI font/scale too small"
### Linux Distribution

debian/sid

### Luxtorpeda Version

47.0

### Bug description

Default scale of the GUI is tiny on 4K.
![Luxtorpeda-TooSmall](https://user-images.githubusercontent.com/1655796/143682362-961f3fe4-dc19-4226-8d66-eb4379846bca.png)

Not sure where it takes the DPI/Resolution from.

### Steps To Reproduce

Use 4K-Monitor

### Expected Behavior

Scale, see the steam-window in the

[2021-11-28 00:46] d10sfan commented on #123
@Seegras Interesting, I will take a look at this when I have a chance.

[2021-11-28 03:40] d10sfan commented on #123
@Seegras I believe I have this fixed, let me know if the build here fixes it: https://github.com/luxtorpeda-dev/luxtorpeda/actions/runs/1511819525

If not, please provide logs, as I added some traces for what it sets for the dpi scaling.

These changes will also be on the next public build.

[2021-11-28 03:40] #123 closed

[2021-11-28 18:50] d10sfan commented on #123
version 48 has been released as well.

[2021-12-13 19:16] JoshuaFern opened #124 "Crashing After Wayland Switch"
### Linux Distribution

Flatpak/NixOS

### Luxtorpeda Version

45-48

### Bug description

Luxtorpeda will crash on the engine selection screen.

### Steps To Reproduce

1. Start Luxtorpeda
2. The engine selector appears.
3. Wait a second.
4. Luxtorpeda crashes.

### Expected Behavior

Luxtorpeda should not crash.

### Additional Context

I have changed my display server from x11 to Wayland recent

[2021-12-13 19:31] d10sfan commented on #124
@JoshuaFern Do games that do not need the launcher work as expected?

Also, if you go into the area where the compatibility tool is installed and run ./luxtorpeda mgmt, what happens? That should launch a management tool listing all of the games you've run in the past.

[2021-12-13 19:45] d10sfan commented on #124
@JoshuaFern Also it works on the same system but with x11 instead of wayland?

[2021-12-13 19:55] d10sfan commented on #124
@JoshuaFern I just tried on my laptop with amd/intel with wayland and it worked fine, this was with arch linux.

[2021-12-15 16:10] Seegras commented on #123
looking good.

[2021-12-15 16:45] ToughGuyKunio opened #125 "Change Ren'Py to default"
### Feature Request

There's [at least 375 Ren'Py games](https://steamdb.info/instantsearch/?refinementList%5Boslist%5D%5B0%5D=-Linux&refinementList%5Btechnologies%5D%5B0%5D=Engine.RenPy) on Steam that are not Linux native. They could be playable in Luxtorpeda.

### Solution

Ren'Py could be changed to a default engine to support all Ren'Py games.

### Additional Context

_No response_

[2022-01-08 18:10] d10sfan commented on #124
@JoshuaFern I think I have a fix with this: https://github.com/luxtorpeda-dev/luxtorpeda/commit/a0a95bdb5007d3fb335493e28045cb7fcfe24c9a

Version 49 has this fix in it. It looks like the painter, part of the window system was being freed after the window was closed and freed, causing a crash. Moving the painter to the top of the object seems to have caused it to be freed first, fixing the issue.

[2022-01-08 18:10] #124 closed

[2022-02-28 18:57] d10sfan opened #127 "Steam Deck Issues"
### Linux Distribution

Steam Deck Arch

### Luxtorpeda Version

Latest

### Bug description

* A/B buttons work but can't scroll list
* doesn't work in deck mode (UI does not come up), maybe try inside gamescope?

### Steps To Reproduce

Need deck

### Expected Behavior

Items above to work

### Additional Context

_No response_

### Relevant log output

_No response_

[2022-02-28 19:45] d10sfan opened #129 "egui Upgrade"
Egui sdl package is supported up to 0.16.0 for egui.  Change egui usage to use the official 0.16.0 along with egui sdl2, provided that the workaround for dpi is not needed.

Need to figure out possibility of using sdl 2.0.20 with rust-sdl2.

[2022-02-28 21:40] d10sfan commented on #127
Should be fixed in https://github.com/luxtorpeda-dev/luxtorpeda/pull/128

[2022-02-28 21:40] #127 closed

[2022-03-01 14:09] d10sfan opened #130 "Steam Deck Controller Support in Deck UI Mode"
Possibly something to do with steam's controller support. Can still use trackpad as mouse.

Possible udev issue or issue with virtual gamepad acting as keyboard. https://chromiumdash.appspot.com/commit/c9bc4476626e413fac9fac8b08e4b2110ee344f2

Also, create LUX_STEAM_DECK env variable and function for if on a steam deck.

Test mgmt tool in desktop mode, fix dpi scaling in desktop mode (maybe check

[2022-03-12 00:17] Sterophonick opened #131 "Environment variable to hide the GUI when a default game is selected"
### Feature Request

On Steam Deck (or in Gamescope, for that matter), after selecting a default engine for a game, the launcher window is a little bit annoying, especially when it's blown up to the entire screen.

### Solution

The solution would be a simple environment variable such as `LUX_SKIP_LAUNCHER=1` to skip the launcher window, making the decision easily reversible. This should only be d

[2022-03-12 04:18] d10sfan commented on #129
Done in https://github.com/luxtorpeda-dev/luxtorpeda/pull/132/files

Have not done the sdl2 upgrade at this time.

[2022-03-12 04:18] #129 closed

[2022-03-12 04:21] d10sfan commented on #131
@Sterophonick

Thanks for the suggestion. I've implemented this as part of version 51 - https://github.com/luxtorpeda-dev/luxtorpeda/pull/132

It should be live a few minutes after this comment as a release. Documentation on how to use it can be found here: https://github.com/luxtorpeda-dev/luxtorpeda#configuration (look for LUX_DISABLE_DEFAULT_CONFIRM)

As well, this release had a few package upg

[2022-03-12 04:21] #131 closed

[2022-03-12 04:30] Sterophonick commented on #131
Absolutely wonderful! Thank you so much! <3

I don't have a Steam Deck, unfortunately, so I can't help you there

[2022-03-12 04:33] d10sfan commented on #131
No worries, let me know if you run into any issues.

I do have one reserved and have a laptop that I use to test with gamescope.

[2022-04-24 12:53] d10sfan opened #133 "Controller, Cloud Information Visible in Engine Choices"
### Feature Request

Recently, controller and cloud icons were added to the web UI. Same information should be made visible if picking the engine in the engine picker UI.

### Solution

Look at the various booleans setup for controller and cloud and before sending to the UI, modify the notices array (create if not there) to have additional labels, using the same boolean checks as the web ui to gen

[2022-04-25 15:53] #133 closed

[2022-04-29 13:19] Arkaium opened #138 "Support for delisted versions of Duke 3D, Shadow Warrior?"
### Feature Request

Hi friend,

I LOVE this compatibility plugin btw, it’s amazing how seamlessly it works with Steam
Deck.

I’ve noted that my versions of Duke Nukem 3D and Shadow Warrior, classic/legacy versions that may have been delisted, are not detected correctly by Luxtorpeda. I assume if it gave me Raze as one of the default options on the “I don’t recognize this game” generic list, it wo

[2022-05-07 06:38] neuromancer commented on #123
I tested luxtorpeda from git using the aur package and it seems too small (I have a big TV). Perhaps it is caused by using gnome scaling? (300%)

[2022-05-07 15:05] d10sfan commented on #123
@neuromancer

Could you try the latest official release in the github releases? Just to make sure you're on the latest code.

If that does not change anything, please open steam in a terminal window and provide the output when running luxtorpeda with a game that provides choices. You're looking for something similar to this:

window is on display_index: 0
found dpi: (143.66042, 143.43529, 144.3789

[2022-05-07 15:23] neuromancer commented on #123
I'm testing this with wetlands

[code]

In case is useful, my current resolution from xrandr:

[code]

[2022-05-07 16:50] d10sfan commented on #123
@neuromancer

That's interesting, normally the DPI tuple has had the three numbers at roughly the same value. It's the diagonal, horizontal, and then vertical DPI (https://wiki.libsdl.org/SDL_GetDisplayDPI).

Currently, it's using only the diagonal version in its calculation. I've made a possible fix that has it use the largest value instead. Could you try this build and see if it fixes it for you

[2022-05-07 16:52] d10sfan commented on #123
@neuromancer

That's interesting, normally the DPI tuple has had the three numbers at roughly the same value. It's the diagonal, horizontal, and then vertical DPI (https://wiki.libsdl.org/SDL_GetDisplayDPI).

Currently, it's using only the diagonal version in its calculation. I've made a possible fix that has it use the largest value instead. Could you try this build and see if it fixes it for you

[2022-05-07 19:20] d10sfan commented on #123
@neuromancer
[luxtorpeda.tar.xz.zip](https://github.com/luxtorpeda-dev/luxtorpeda/files/8645817/luxtorpeda.tar.xz.zip)

Above is an updated build, had one more fix that should help with it.

[2022-05-07 20:17] neuromancer commented on #123
I test this potential fix using the `dpi-fix` branch and this is the result (still very small):

![image](https://user-images.githubusercontent.com/110782/167270404-9b657de8-e6d6-4e61-ad66-9012616cf161.png)

[2022-05-07 21:00] d10sfan commented on #123
@neuromancer

The dpi scaling number looks a lot better although it seems like the window itself is too small. The high dpi setting from sdl is enabled so there may need to be another change to scale the resolution of the window itself. I'll take another look and let you know.

[2022-05-08 03:27] d10sfan commented on #123
@neuromancer

Can you try the following build out? It tries to scale the width and height of the window itself based on the DPI given.
[luxtorpeda.tar.xz.zip](https://github.com/luxtorpeda-dev/luxtorpeda/files/8646287/luxtorpeda.tar.xz.zip)

[2022-05-08 06:56] neuromancer commented on #123
It looks a little better: the window is larger, but the font is tiny (which is the main issue here)

![image](https://user-images.githubusercontent.com/110782/167285403-08d24d99-2e56-4d9b-beeb-d5f94676a148.png)

[2022-05-08 21:03] d10sfan commented on #123
@neuromancer

I tried something in addition, which also scales the dpi scaling based on the new window width, it should cause the dpi scaling value to be 9, which should make the text bigger. Let me know how that goes, thanks. If that does not improve it, let me know what the logs say.

[luxtorpeda.tar.xz.zip](https://github.com/luxtorpeda-dev/luxtorpeda/files/8647804/luxtorpeda.tar.xz.zip)

[2022-05-08 21:47] neuromancer commented on #123
It works!

![image](https://user-images.githubusercontent.com/110782/167317110-5b15c8a4-5f8c-40f0-af6e-075050832b32.png)

Btw, I cannot move the window for some reason. I will try to reproduce this with master, because it is annoying, but the GUI is now large enough. Thanks!

[2022-05-08 22:08] d10sfan commented on #123
Great that's looking alot better. Are you on x11 or wayland? On my system it centers the window so not sure why that's happening. If it's on x11 I can trigger a window centering once it's created.

[2022-05-08 23:43] d10sfan commented on #123
@neuromancer

Can you try this build? I added an sdl2 command to center the window position once it's open. The window is always centered already on my systems but it may help with what you are seeing.

[luxtorpeda.tar.xz.zip](https://github.com/luxtorpeda-dev/luxtorpeda/files/8647995/luxtorpeda.tar.xz.zip)

[2022-05-09 06:22] neuromancer commented on #123
Yeap, the window is centered (the screenshot was took cutting the rest of the screen). The latest build works fine AFAIK.

[2022-05-22 03:05] d10sfan commented on #130
Continued in https://github.com/luxtorpeda-dev/luxtorpeda/pull/143

[2022-05-22 03:05] #130 closed

[2022-05-28 11:11] koalagang opened #144 "Can luxtorpeda be used for non-Steam games?"
If I had a DRM-free copy of a game - for example, if I had a copy of The Elder Scrolls III: Morrowind from GOG and I pressed 'Add a Non-Steam Game' in my library, would luxtorpeda be able to realise that it is in fact Morrowind and thus install OpenMW?

I'm not entirely sure how luxtorpeda actually works so I don't know if it handles things by looking at the Steam app ID or something else so was j

[2022-05-29 13:16] d10sfan opened #146 "Steam Deck - Desktop Mode DPI inside Steam"
### Linux Distribution

steam deck

### Luxtorpeda Version

latest

### Bug description

Desktop mode dpi is too small to read when launching a game in desktop mode.

### Steps To Reproduce

Desktop mode dpi is too small to read when launching a game in desktop mode.

### Expected Behavior

Should scale based on dpi. May need to disable the code that tries to disable dpi scaling on desktop mode.

[2022-05-29 16:26] TheGreatestJannet opened #147 "Unreal Tournament 2004 don't add foxWSFix"
### Linux Distribution

Steam Flatpak

### Luxtorpeda Version

54

### Bug description

Luxtorpeda is adding the mod https://github.com/alexstrout/foxWSFix-UT2k4 to the game. This is causing issues when playing multiplayer as anticheat on servers check the game files and kick you if it detects the mod.

### Steps To Reproduce

1. Install the game with Luxtorpeda
2. Start the game
3. Join a server

[2022-05-29 18:40] d10sfan commented on #146
Fixed in https://github.com/luxtorpeda-dev/luxtorpeda/pull/148

[2022-05-29 18:40] #146 closed

[2022-05-29 18:44] d10sfan opened #149 "Show Progress for Extraction/Installation and Setup Steps"
### Feature Request

Some engines can take a while to finish extracting, along with some requiring long setup. During these times, there is no visual to the user. Having a progress popup, similar to the downloading for these steps would be beneficial so the user knows what's going on.

### Solution

During the extraction and setup processes, a UI should show (hiding/removing whenever another UI sh

[2022-06-12 22:24] GameEnder opened #151 "OpenMW Lancher for Other builds."
### Feature Request

OpenMW Add Launcher Options for tes3mp and Nightly builds.

### Solution

Add launcher options for the other builds of OpenMW that available for use. Would be useful to configure options and mods for those builds.

### Additional Context

_No response_

[2022-07-02 13:03] Maximumtix opened #153 "*** stack smashing detected ***: terminated"
### Linux Distribution

Artix Linux x64 kernel 5.18.5

### Luxtorpeda Version

55.0.0.r348.2a81c60-1 (from AUR)

### Bug description

I updated my rust version with `rustup update` then installed the AUR version. Booted up steam, selected luxtorpeda as a compatibility tool and tried to launch wolfenstein 3d but nothing happens.

### Steps To Reproduce

1. Installed through AUR
2. Chose luxtorpeda

[2022-07-02 14:20] d10sfan commented on #153
@Maximumtix you are seeing this with both the official release binaries here on github and with you compiling the aur on your system?

How much free memory do you have and what version of rust is installed on your system?

[2022-07-03 00:22] Maximumtix commented on #153
Yes, that's the case.

I have 6 GB system memory and 6 GB swap(SSD). At the time of testing this, I used 1 GB system memory and 500 MB swap.
info: The currently active `rustc` version is `rustc 1.64.0-nightly (46b8c23f3 2022-07-01)`

[2022-07-05 02:05] d10sfan commented on #153
@Maximumtix When you install the official binaries, where are you putting them? In the /usr directory or in the local user steam directory?

[2022-07-06 06:15] Maximumtix commented on #153
~/.steam/root/compatibilitytools.d/

[2022-07-06 13:46] d10sfan commented on #153
@Maximumtix Can you try again with it installed there and send another log?

[2022-07-06 16:16] Maximumtix commented on #153
You mean in the /usr directory? Because I tried both .local/share/Steam/compatibilitytools.d/ and .steam/root/compatibilitytools.d/ It shouldn't matter since they are linked directories.

[2022-07-06 18:59] Maximumtix commented on #153
Complete `steam` terminal log:
[code]

[2022-07-06 23:35] d10sfan commented on #153
@Maximumtix what type of graphic card do you have?

Also are you comfortable with using gdb? Would be interested to see where the stack trace shows the error occurs

[2022-07-07 02:22] Maximumtix commented on #153
Nvidia GeForce GT 425M, supports OpenGL 4.6.0 but have no Vulkan support whatsoever.
No, I have no experience using gdb. But I can help you if you guide me. Where can I contact you?

[2022-07-07 03:53] d10sfan commented on #153
@Maximumtix Here's a link to the discord: https://discord.gg/2xp2dbfa

If you ping me in the luxtorpeda channel, I'll see that and I can see what we can do.

[2022-07-11 20:06] d10sfan commented on #153
Since it seems to happen to other applications on your system running inside steam, it seems to be an issue there. Feel free to continue communicating on discord or here and I'll do what I can to help.

[2022-07-11 20:06] #153 closed

[2022-07-30 16:22] d10sfan opened #154 "Controller Not Working on Desktop for Lux UI, Does on Deck"
re-test on deck after changes

[2022-08-02 00:26] cheako opened #155 "Two issue databases..."

[2022-08-02 01:42] d10sfan commented on #155
I copied the original request in this issue.

@cheako

The dreamer/luxtorpeda isn't being maintained, so the luxtorpeda-dev/luxtorpeda is the best place :)

To make sure I understand the request, it sounds like you're asking for Proton games to let you see all of the environment variables and maintain/change them using luxtorpeda as a compatibility tool?

[2022-08-02 01:50] cheako commented on #155
I'm using `vi`, but the same task could be accomplished with a GUI using a configuration panel and a backend database(like a json or xml file).  Most of the environment variables ppl will want to configure follow common patterns.  Now sure if this fits with the luxtorpeda dogma and I'd be interested if there were any tools that do anything close to this.

[2022-08-02 19:22] HunterKing opened #156 "Include versioning information on github builds"
### Feature Request

On builds via the GitHub releases page, no `version` or `version.txt` is included. This is helpful for end users to know what version they are using.

### Solution

Include `version.txt` on builds available via GitHub.

### Additional Context

_No response_

[2022-08-02 20:16] cheako commented on #155
There is also something that I've never done, but [VK_ICD_FILENAMES](https://bityl.co/Dc2A).

[2022-08-02 20:30] parkerlreed opened #157 "UI scaling too small on Steam Deck desktop"
### Linux Distribution

Steam OS 3.0

### Luxtorpeda Version

v55

### Bug description

With external monitors, scaling is almost too tiny to read.

![image](https://user-images.githubusercontent.com/841440/182467222-a3e5837c-f1e7-4982-9e48-f2f559d50934.png)

### Steps To Reproduce

1. Run luxtorpeda in desktop mode on Steam Deck

### Expected Behavior

Scaling suits the current display.

### Addi

[2022-08-02 20:35] d10sfan commented on #156
@HunterKing Thanks for the request, that's a great idea! I'll change it so that my PR builds have the commit hash in the version.txt, and then for an official release, it'll have the version number (like "55").

[2022-08-03 10:40] HunterKing commented on #156
Thank you! It might be helpful to refer to Proton-GE, as they have been including versioning info in their releases for some time. Unsure if there is official Valve documentation on versioning of compatibility tools.

[2022-08-04 04:11] d10sfan commented on #154
Fixed in future 56 release

[2022-08-04 04:11] #154 closed

[2022-08-04 04:31] d10sfan commented on #157
@parkerlreed

I have a possible fix in the following build if you can try it out (in desktop and gaming mode). I'm still testing, but I think this should work.
[luxtorpeda.tar.xz.zip](https://github.com/luxtorpeda-dev/luxtorpeda/files/9256643/luxtorpeda.tar.xz.zip)

[2022-08-05 02:43] agibson2 opened #161 "Update dxx-rebirth to newest build"
### Feature Request

The current version that people are using on the Descent and Descent Rangers seems to be version 0.61.0 but the protocol mismatches for multiplayer.  They seem to have protocol 14 and what is included with luxtorpeda is 12.  Likely it needs to be rebuilt for the newest build.

### Solution

Update to latest build from the dxx-rebirth source.

### Additional Context

_No respon

[2022-08-06 03:34] d10sfan commented on #157
@parkerlreed Thanks for the report, this is now in the new version 56 release. Let me know how it goes for you.

[2022-08-06 03:34] #157 closed

[2022-08-06 03:34] d10sfan commented on #156
@HunterKing Thanks for the request, this is now in the new version 56 release.

[2022-08-06 03:34] #156 closed

[2022-08-07 15:12] ThibaultLemaire opened #163 "Launcher fails to start (Cannot access non-root filesystem)"
### Linux Distribution

NixOS

### Luxtorpeda Version

56

### Bug description

The luxtorpeda launcher fails to start.

### Steps To Reproduce

1. Select a supported game (tested with Homeworld Remastered Collection), force luxtorpeda as the Steam Play compatibility tool.
2. Click Play
3. Game does not start

### Expected Behavior

Launcher starts

### Additional Context

_No response_

### Relev

[2022-08-07 15:27] d10sfan commented on #163
@ThibaultLemaire Thanks for the report.

That line (fs::create_dir_all(&folder_path).unwrap();) is a strange place to fail. It looks like there's a collision with something at ~/.config/luxtorpeda. Can you tell me if there is anything there and if it's a directory or a file?

[2022-08-07 17:09] ThibaultLemaire commented on #163
There's nothing there.

I'll make a local build and fix the issue.

Also, I don't know if you're familiar with Nix & NixOS, but I'll probably have to write a small `shell.nix` file to have a build environment, would you like me to contribute it?

[2022-08-07 17:31] d10sfan commented on #163
@ThibaultLemaire sure! If you can find a fix feel free to open a pr, and feel free to include the shell file you mentioned.

[2022-08-07 20:32] ThibaultLemaire commented on #163
It's probably because my `.cache` folder is symlinked. I'm experiencing weird behaviour around that symlink.  `fs::create_dir_all()` says `AlreadyExists`, but `cache_home.exists()` says `false`. I'm working on a proper fix

[2022-08-08 20:49] ThibaultLemaire commented on #163
Sanity check: a rust executable compiled natively and run directly correctly accesses both the symlink, and the absolute path.

I've checked permissions (16877) but I don't see anything that could explain it there. Luxtorpeda can see other folders at the same location that have the same permissions... There must be something different in the execution environment provided by steam, but what?

[2022-08-08 21:19] d10sfan commented on #163
The steam environment runs inside a container (their steam linux runtime soldier). It's possible that for some reason the mounting is not working as expected. For example, if your symlink is to a different partition/drive than the one that the user directory is on, then it may not mount it automatically. You could try without the symlink on ~/.config and ~/.cache and then try inside steam and see

[2022-08-10 21:52] parkerlreed commented on #157
Yep all good! Thank you

[2022-08-12 08:44] ThibaultLemaire commented on #163
Ok, so the issue is pretty straightforward, in my case I had to change `launch options` to

[code]

From [this reddit thread](https://www.reddit.com/r/SteamPlay/comments/lh2ft0/comment/gpeaixy/?utm_source=share&utm_medium=web2x&context=3).

Explanation: I have a 1TB HDD and 250GB SSD. I use the HDD as my main partition and offload folders to the SSD via symlinks when these folders prove critical f

[2022-08-12 13:36] d10sfan commented on #163
@ThibaultLemaire Great, and thanks about the interface, that was fun to build! I'm using the egui library to do it.

And that makes sense for the issue. For showing a UI error, there's a function inside the dialog file called show_error. You should be able to use that to show a proper error message to the user. If you search for its use in the project, you should be able to find some good examples

[2022-08-14 16:10] ThibaultLemaire opened #165 "Show icon in taskbar"
### Feature Request

The GUI windows created are not visible in the taskbar or KDE's desktop grid. Making it hard to manage them (move to another virtual desktop for example).

### Solution

It would be nice to have all luxtorpeda windows register correctly within the window manager.

### Additional Context

_No response_

[2022-08-14 17:26] d10sfan commented on #165
@ThibaultLemaire That was because of it being set as an sdl utility window, which hides the taskbar window, among other things. I don't think it'd hurt anything to remove that and show the taskbar icon, although I will need to see about an actual icon if that is done, seeing if there's an icon I can find online that's usable for the project.

[2022-08-14 17:28] #163 closed

[2022-08-14 18:42] ThibaultLemaire commented on #165
Ah right, the icon. Not much of an artist, but I might try to trace something in Inkscape based on the pictures in [the wikipedia article](https://en.wikipedia.org/wiki/Luxtorpeda) ? Or we might make a call for contributions

[2022-08-15 04:47] d10sfan commented on #165
@ThibaultLemaire I found an icon in the public domain that should work and created a PR related to this: https://github.com/luxtorpeda-dev/luxtorpeda/pull/166

If you'd like to try it, let me know what you think. If this works, I'll probably make a new release with these two changes soon.

I needed to add sdl2 image as a dependency, which is included in the steam runtime. I edited the nix pkgs scr

[2022-08-15 13:57] #165 closed

[2022-08-15 17:17] d10sfan commented on #155
luxtorpeda itself assumes that it's going to be running a native application, so it may not be the best application of this, unless you may also want to do this for native games.

One thought I had, for the case of native games, for this could be to use the user-packages where you could set for an app id a set of environment variables you wanted to set and what the values should be, if that would

[2022-08-20 03:26] cheako commented on #155
This is extremely useful for all Vulkan applications, including DXVK.  This would be useful to a smaller extent for both native and proton apps.

[2022-08-26 09:38] sekanS opened #167 "High screen refresh rate causes crash: SdlError("Window is too large.")', src/ui.rs:514:10"
### Linux Distribution

Ubuntu 22.04

### Luxtorpeda Version

57

### Bug description

When the screen refresh rate is set to 165Hz, Luxtorpeda is unable to display engine choice and crashes. If the screen refresh rate is set to 60Hz, it works as expected.

I've encountered this only when trying out Caesar III. I have Arx Fatalis running just fine at 165Hz or 60Hz. This could be an issue with game

[2022-08-26 14:17] d10sfan commented on #167
@sekanS Thanks for the report. Could you provide a log of the working case with your 60hz refresh rate?

It looks like the dpi scaling is trying to create a resolution for the window that's too large, hence the panic, although not sure why the refresh rate would affect that.

[2022-08-26 14:50] sekanS commented on #167
Here is a full log of starting the game using 60Hz.

[code]

[2022-08-26 18:11] d10sfan commented on #167
@sekanS Are you on x11 or wayland? If on x11, can you run the following command on both cases and send the result here?

``
xrandr
[code]

[2022-08-26 23:24] sekanS commented on #167
@d10sfan I'm almost always using X11 (especially when gaming). All tests so far were made on X11.

Either way, here is the output on X11:
[code]

And here is the output on Wayland:
[code]

[2022-08-27 16:16] d10sfan commented on #167
@sekanS It looks like in your wayland example the dpi variables are correct, instead of very high like in x11.

Related to this: ```found dpi: (4064.0, 96.0, 96.0) using dpi: 4064.0```

Recently, SDL2 added a warning about using that API, which seems to have been added because of issues with accuracy on sdl2: https://github.com/libsdl-org/SDL/commit/307b0b78130252aa45d8951cf88b9b400c6eea9b

So it

[2022-08-28 00:50] sekanS commented on #167
@d10sfan I'm using the laptop's screen, and I can only go either 60 or 165 Hz, nothing in between. So, unfortunately, I can't test different higher refresh rates to see if others would cause problems. My external monitor is only going as high as 60Hz, no luck there either.

It's a good think you found that API warning. Gives it a bit more perspective now.

[2022-08-28 19:12] garrett85 opened #168 "Luxtorpeda/ScummVM, running Thief I"
Some games I'm able to run just fine with Luxtorpeda, I just got through playing Blood on my Linux system using Luxtorpeda and it worked fine. After setting the compatability mode to Lux in the Manage settings in Steam all I had to do was click Play and the game launched, I'm not having the same kind of luck with Thief I. When I try the same thing with Thief I, after clicking Play a menu comes up

[2022-08-29 04:31] d10sfan commented on #167
@sekanS I created a workaround for this in https://github.com/luxtorpeda-dev/luxtorpeda/pull/169

There's a build at https://github.com/luxtorpeda-dev/luxtorpeda/actions/runs/2945899483 if you could try it and let me know if that fixes the crash and still look ok.

I'd still like to look at how the dpi scaling works in the future to see if the calculation can be fixed, possibly by using other sdl2

[2022-08-29 10:16] sekanS commented on #167
@d10sfan I tested the new build, and it's able to run at 165Hz, but the window is blank now:
![blank_gui](https://user-images.githubusercontent.com/1265160/187179000-7cad1658-2d76-4d2d-b24b-20219d3a6c26.png)

Switching to 60Hz displays the window properly, as expected.

Here is the output of the run at 165Hz:
[code]

[2022-08-31 00:04] d10sfan commented on #167
@sekanS It looks like there was another spot where the dpi needed to be fixed. Can you try the build from this? https://github.com/luxtorpeda-dev/luxtorpeda/actions/runs/2960412707

[2022-08-31 00:05] d10sfan commented on #155
@cheako Going to close this for now, but I'll think about it as a possibility or maybe create a new app just for something like that.

[2022-08-31 00:05] #155 closed

[2022-08-31 08:54] sekanS commented on #167
@d10sfan Tested the latest build and it works perfectly fine.

[2022-08-31 20:32] d10sfan commented on #167
@sekanS Thanks for testing! I've released a new version with this fix. Let me know if you run into any issues.

[2022-08-31 20:32] #167 closed

[2022-08-31 23:31] sekanS commented on #167
Works like a charm. Thank you, @d10sfan! :1st_place_medal:

[2022-09-04 06:45] dmrickey opened #172 "OpenMW Launcher woes"
### Linux Distribution

Steam Deck 3.3.1

### Luxtorpeda Version

59

### Bug description

I set Morrowind to launch "OpenMW Launcher (latest) with zoraster's shader". Every time I launch it asks if I want to run the importer wizard which should only happen the first time. If I skip the wizard, it takes me to an instance of the launcher that's different than if I go into the wizard and hit cancel.

[2022-09-11 06:57] coreybruce opened #173 "Add R.E.L.I.V.E for Abe's Oddysee and Oddworld: Abe's Exoddus."
### Feature Request

Add  R.E.L.I.V.E to Luxorpeda as it's a open source re-implementation engine for Abe's Oddysee and Oddworld: Abe's Exoddus which does a lot of fixes for the game and also  gives a native Linux version.

### Solution

Add  R.E.L.I.V.E to Luxorpeda

### Additional Context

_No response_

[2022-09-18 01:42] Noobao opened #174 "Can't unpack renpy."
### Linux Distribution

Artix linux

### Luxtorpeda Version

Version 59

### Bug description

Renpy doesn't unpack for some reason.
![image](https://user-images.githubusercontent.com/84132367/190881863-f8aaf4e6-2bef-4f73-8fec-8962c892ac16.png)

### Steps To Reproduce

Install luxtorpeda
Select renpy

### Expected Behavior

It should unpack.

### Additional Context

I compiled this in the aur.

###

[2022-09-18 02:54] d10sfan commented on #174
@Noobao What type of drive is the one that you have the game installed on? As in what partition type?

[2022-09-18 16:13] Noobao commented on #174
All my partitions are Btrfs.

[2022-09-18 20:43] d10sfan commented on #174
@Noobao What is the "/mnt" directory? It seems like its a steamapp directory, but haven't seen a root directory like that used like that before.

Do you have another steam library you can try for comparison?

I tried running RenPy, testing the extraction and it worked fine, so my guess it's something with the environment you're running in.

[2022-09-19 00:00] Noobao commented on #174
That's the directory i use to install my games,my steam games are installed there,i don't use /home because some times i need to format my data.

/Mnt in this case is also not a directory owned by root,it's owned by me, so it shouldn't have problems with luxtorpeda.

I installed a game on the /home and /mnt directory and checked how it does (ddlc and another one)  it worked fine and out of the box

[2022-09-19 01:38] d10sfan commented on #174
@Noobao Ah ok, no worries. Feel free to comment in the issue if you end up finding the problem and/or you need further help.

[2022-09-19 01:38] #174 closed

[2022-10-02 14:25] d10sfan opened #176 "test"
test 123

[2022-11-11 18:58] d10sfan opened #177 "Migration to Godot For UI, Using Godot Rust"
This will track investigating migrating to godot for the UI. This will still keep using the rust code as close to the way it was as possible.

- [x] cancel clearing cached data -clear the cache for the downloads
- [x] user_env::set_controller_var
- [x] controller support for y axis; scroll for controller and keyboard for license agreement - https://www.reddit.com/r/godot/comments/sa19k9/how_to_scr

[2022-11-15 03:57] d10sfan commented on #149
Superseded by https://github.com/luxtorpeda-dev/luxtorpeda/issues/177

[2022-11-15 03:57] #149 closed

[2022-11-17 14:31] d10sfan opened #179 "Re-implement Management Feature in Godot"
Current version of the godot UI does not support the management feature. This tracks adding that again.

The original version could only be accessed by a command line argument. New version should still allow for that, but maybe also add a  button somewhere in the UI being shown to the user to trigger it (then a back button to go back to where it was if in that mode).

Main purpose of this is to se

[2022-11-17 15:53] #177 closed

[2022-11-18 23:09] eskoONE opened #180 "add a way to play the iwads for original doom that come with doom eternal"
### Feature Request

doom eternal comes with the original doom iwads, which can be played in the game itself. i was wondering if it would be possible to launch doomrunner through luxtorpeda to be able to play the original games, either attached to doom eternal or gzdoom engines flatpack that is installed on the steam deck.

Or perhaps give us the option to add any runner to any game manually added

[2022-11-29 23:23] d10sfan opened #182 "Option to Disable Extraction/Install Step on Each Run"
### Feature Request

The client extracts and "installs" the engine to the game folder each time the game is launched. This is to ensure that the files are always accurate on the system and to avoid having to check for hashes and the like.

There was a request (https://github.com/luxtorpeda-dev/packages/issues/787#issuecomment-1329876659) to look into not having that, instead to install the files o